body {
    background-color: #212529;
}

h1{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding : 35px;
    margin-left : auto;
    margin-right : auto;
}

/* .pd-sections{
    padding: 3% 0;
} */

.tc-white{
    color: white;
  
}

.container{
    color: #F5AC36;
    background-position: center center;
    padding : 90px;
    width : 340px;
}

#navbarToggleExternalContent{
    position : absolute;
}

#navbarToggleExternalContentTwo{
    background-color: #F5AC36;
    background-position: center center;
    width : 340px;
}

.bg-yellow{
    background-color: #F5AC36;
}

