body {
    background-color: grey;
}

h5{
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding : 35px;
    margin-left : auto;
    margin-right : auto;
}

.container {
    display: block;
    color: #F5AC36;
    background-position: center;
}

img{
    top: 10%;
    width: 100%;
    height: 100%;
}

.content {
    display: block;
    background-position: center;
    box-sizing: content-box;
}

form{
    background-color: aliceblue;

}
#botones{
    top: 30px;
    color: #F5AC36;
}
